.circle1 {
   position: absolute;
   top:200px;
   right: 400px;
   width: 45px;
   height: 45px;
   background: lightgrey;
   border-radius: 50px;
   z-index: 0;
}

.circle1s {
   position: absolute;
   top:210px;
   right: 290px;
   width: 25px;
   height: 25px;
   background: white;
   border-radius: 25px;
   z-index: 1;
}


.circle2 {
   position: absolute;
   top:200px;
   right: 280px;
   width: 45px;
   height: 45px;
   background: #ff4500;
   border-radius: 50px;
}

.circle3 {
  position: absolute;
  top:200px;
  right: 340px;
   width: 45px;
   height: 45px;
   background: lightgrey;
   border-radius: 50px;
}

.circle4 {
  position: absolute;
  top:200px;
  right: 220px;
   width: 45px;
   height: 45px;
   background: lightgrey;
   border-radius: 50px;
}

.circle5 {
  position: absolute;
  top:200px;
  right: 160px;
   width: 45px;
   height: 45px;
   background: lightgrey;
   border-radius: 50px;
}


.profile {
   position: absolute;
   top:250px;
   right: 405px;
   font-size: 9px;
   color: grey;
}

.room {
   position: absolute;
   top:250px;
   right: 347px;
   font-size: 9px;
   color: grey;
}

.meal-rule {
  position: absolute;
  top:250px;
  right: 280px;
  font-size: 9px;
  color: grey;
}

.calendar {
  position: absolute;
  top:250px;
  right: 230px;
  font-size: 9px;
  color: grey;
}


#calendar {
  position: relative;
  top: 250px;
  left: 300px;
  color: grey;
  text-align: center;
  width: 700px;
}

.fc-sat {
    color: blue;
    }

.fc-sun {
      color: red;
    }

.pr {
  position: absolute;
  top:250px;
  right: 175px;
  font-size: 9px;
  color: grey;
}

.select{
  position: relative;
  top: 200px;
  left: 160px;
  font-size: 20px;
}

.clicked{background-color: lightpink;}

.all_remove{
  position: relative;
  top: 278px;
  left: 670px;
  border: solid 1px;
  border-color: #40AD3F;
  color: #40AD3F;
  font-size:14px;
  width: 100px;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  cursor:pointer;
}


.save{
  position: relative;
  top: 350px;
  left: 570px;
  color: grey;
  background-color: white;
  font-size:20px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  outline:0;
  border: 1px solid #ccc;
  cursor:pointer;
}




.next{
position: relative;
top: 350px;
left: 570px;
color: #ff4500;
background-color: white;
font-size:20px;
width: 100px;
height: 45px;
  border: 1px solid #ff4500;
border-radius: 10px;
-webkit-border-radius: 10px;
outline:0;
cursor:pointer;
}
