.tytle{
	font-size: 32pt;
	color: #ff4500;
	font-family: Helvetica;
	text-decoration: none;
}


.humanicon {
	position: relative;
	top: -109px;
	left: 400px;
	width: 10px;
	height: 10px;

}


.col-md-12{
	position: relative;
	top: -215px;
	left: 500px;
}

.col-md-8{
	position: relative;
	top: 120px;
	left: 500px;
	}

.toppage_pics{
	position: relative;
	left: 20px;
}


.tobecomeahost {
	font-size: 10pt;
	border-style: none;
	padding: 10px 30px;
	color: black;
	position: relative;
	top: -100px;
	cursor:pointer;}

.in {
  font-size: 10pt;
	border-style: none;
	padding: 10px 30px;
	color: black;
	position: relative;
	top: -100px;
	cursor:pointer;}


.border{
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}



.search {
    position: relative;
    top: -90px;
    left: 600px;
    font-size:16px;
    background-color: lightgrey;
		border-radius: 20px;
		-webkit-border-radius: 10px;
		border: none;
    color: black;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 20px 2px;
    cursor:pointer;
}

.date{
	position: relative;
	left: 500px;
	font: Helvetica;
	font-color: #b6b6b6;
	font-size:14px;
	width:400px;
	padding: 12px 20px;
	margin: 20px 0;
	border: 1px solid #ccc;
	border-radius: 4px;}

.box {
  position: absolute;
  top: 130px;
  left: 30px;
  width:700px; height:35px;
  margin:5px; padding:10px;
  border-radius: 20px;
  -webkit-border-radius: 10px;
  background-color:lightgray;
  z-index: -1;
  }




.showall {
  position: relative;
	left: 1300px;
  font: grey;
  text-decoration: underline;
}

.main {
	position: relative;
	top: 50px;
	left: 275px;
	width: 800px;
}


.download{
		position: relative;
		top: -100px;
		left:580px;
		text-align: center;
		font-size: 8px;
    text-decoration: none;
    background-color: #53AB68;
    color: white;/*文字色*/
    font-weight: bold;
		border: 1px solid #53AB68;
		border-radius: 10px;
	  -webkit-border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
		z-index: 1;
}
